.toggleSwitch {
    width: 50px;
    height: 25px;
    display: block;
    position: relative;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin: 30px;
}

.toggleSwitch .toggleButton {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #f03d3d;
}

.toggleSwitch.active {
    background: #f03d3d;
}

.toggleSwitch.active .toggleButton {
    left: calc(100% - 22px);
    background: #fff !important;
}

.toggleSwitch, .toggleButton {
    transition: all 0.2s ease-in;
}

.toggleSwitch.blue.active {
    background: #5151e5;
}

.toggleSwitch.blue .toggleButton {
    background: #5151e5;
}